<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"cular-gradient-mesh cular-gradient-mesh--green","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull cular-gradient-mesh cular-gradient-mesh--green">
	<!-- wp:cular/field-notes-archive {"name":"cular/field-notes-archive","mode":"preview"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
