<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"cular-gradient-mesh","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull cular-gradient-mesh">
	<!-- wp:group {"tagName":"article","className":"cular-post","layout":{"type":"constrained","contentSize":"820px"}} -->
	<article class="wp-block-group cular-post">
		<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"820px"}} /-->

		<!-- wp:cular/post-share {"name":"cular/post-share","mode":"preview"} /-->
	</article>
	<!-- /wp:group -->

	<!-- wp:cular/related-posts {"name":"cular/related-posts","mode":"preview"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
